.form {
  display: flex;
  flex-direction: column;
}

.form .field {
  margin: 30px;
}

.form .field label {
  margin-bottom: 20px;
  display: inline-block;
}

.form .field input,
.form .field textarea {
  width: 100%;
}
